@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,900;1,700&display=swap');

* {
    font: 'Roboto' Sans-Serif;
    font-size: x-large;
}

body {
    background-color: #BF0413;
}

@media screen and (min-width: 800px) {
    div#main-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 15px;
        max-width: auto;
        margin: auto;
        padding: 10px;
    }

    div#grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        margin: auto;
        padding: 10px;
        grid-column: 1/-1;
    }

    div.box {
        display: grid;
    }

    div.box2 {
        display: grid;
    }
}

@media screen and (max-width: 800px) {

    div#main-container {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
        padding: 10px;
    }

    div#grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        padding: 10px;
        grid-column: 1/-1;
    }

    div.box {
        display: grid;
    }

    div.box2 {
        display: grid;
    }
}

h1 {
    display: flex;
    grid-column: 1/-1;
    font-size: xxx-large;
    justify-content: center;
}

h2{
    display: grid;
    grid-column: 1/-1;
    grid-row: 2/2;
    font-size: xx-large;
}

div.box {
    background-color: whitesmoke;
}

div.box2 {
    background-color: #D99CA7;
}

div {
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: auto;
}